Repository artem-mangilev/ngx-vflow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{html,js,ts}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,json,md}": ["prettier --write"]
}

docs: update docs
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/ng-doc.page.ts
Due: eslint --fix, prettier --write

chore: add readme
  README.md
  projects/ngx-vflow-lib/README.md
Due: prettier --write

docs: update feature overview flow
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/components/data-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/components/output-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/components/transform-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/components/trigger-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/services/flow-store.service.ts
Due: eslint --fix, prettier --write

docs: add migration guide
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/migration/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/components/transform-node.component.ts
Due: eslint --fix, prettier --write

docs: add showcase section
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/showcase/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/showcase/ng-doc.page.ts
Due: eslint --fix, prettier --write

docs: rename section
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/architecture/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/architecture/ng-doc.page.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/migration/ng-doc.page.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/showcase/ng-doc.page.ts
Due: eslint --fix, prettier --write

docs: change redirect link
  projects/ngx-vflow-demo/src/app/app.module.ts
Due: eslint --fix, prettier --write

chore: update peer versions of the library
  projects/ngx-vflow-lib/package.json
Due: prettier --write

Notes added by 'git notes add'
  53e7d1cd6550e0fae36a55ee79b9a933190c942c
Due: none

docs: fix icons
  projects/ngx-vflow-demo/src/app/app.component.html
  projects/ngx-vflow-demo/src/app/app.component.scss
Due: eslint --fix, prettier --write

docs: fix typo
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/components/trigger-node.component.ts
Due: eslint --fix, prettier --write

feat: add a grid pattern background
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/custom-background/demo/grid-custom-background-demo.component copy.ts
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/custom-background/index.md
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/custom-background/ng-doc.page.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/background/background.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/background/background.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/types/background.type.ts
Due: eslint --fix, prettier --write

wip
  ngx-vflow-0.0.0.tgz
  pnpm-lock.yaml
  projects/ngx-vflow-lib/package.json
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

feat: add Node.extent
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/node.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/get-space-points.ts
Due: eslint --fix, prettier --write

refactor: use more reliable checks in createEdge
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge.interface.ts
Due: eslint --fix, prettier --write

fix: revert previeous get-space-point implementation
  projects/ngx-vflow-lib/src/lib/vflow/components/alignment-helper/alignment-helper.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/get-space-points.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  72e9607c8688294adc3bc426df3040d93f6dd908
Due: none

fix: improve performance custom node by combining call that causes a reflow of the layout
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-handles-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-resize-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-batching-resize.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/offset-batching-cache.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/request-animation-frame-batching.service.ts
Due: eslint --fix, prettier --write

fix: background color & strange zoom+scroll issue on the grid background
  projects/ngx-vflow-lib/src/lib/vflow/components/background/background.component.ts
Due: eslint --fix, prettier --write

fix: handle not updating when resize node occurs
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-handles-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-resize-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/offset-batching-cache.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/resize-observer.service.ts
Due: eslint --fix, prettier --write

version name bump
  projects/ngx-vflow-lib/package.json
Due: prettier --write

angular update to v21 number1
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

angular update to v21 number2
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

angular update to v21 number3
  package.json
Due: prettier --write

angular update to v21 number4
  package-lock.json
Due: prettier --write

angular update to v21 number5
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

more version bump
  package-lock.json
  package.json
  projects/ngx-vflow-lib/package.json
Due: prettier --write

chore: rxjs 6 backwards compatibility
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/roadmap/roadmap-list/roadmap-list.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/alignment-helper/alignment-helper.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/background/background.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/custom-node-base/custom-node-base.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/auto-pan.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/changes-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/connection-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/flow-size-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-handles-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-resize-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/pointer.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/root-pointer.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selectable.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/node-toolbar/node-toolbar.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/edge-changes.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-status.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/keyboard.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-changes.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/selection.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/animation-frames.ts
Due: eslint --fix, prettier --write

fix: fix grid patternSize calculation
  projects/ngx-vflow-lib/src/lib/vflow/components/background/background.component.ts
Due: eslint --fix, prettier --write

docs: add snap grid to bg demos
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/custom-background/demo/dots-custom-background-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/custom-background/demo/grid-custom-background-demo.component copy.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e0aa630739448ff6f67f0aa930486dd504aead32
Due: none

docs: enable zoneless
  angular.json
  package-lock.json
  package.json
  projects/ngx-vflow-demo/src/app/app.module.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/toolbar.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-node/custom-node.component.spec.ts
  projects/ngx-vflow-lib/testing/src/all-mocks.spec.ts
Due: eslint --fix, prettier --write

fix: fix warning by removing allowSignalWrites flag in effects
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/overview/demo/all-features-demo.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/map-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/node-toolbar/node-toolbar.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

docs: fix prettier
  projects/ngx-vflow-demo/src/app/categories/nodes/resizer/index.md
Due: prettier --write
