Repository artem-mangilev/ngx-vflow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Automated CI/CD and change note release implemented (#118)
  .github/workflows/publish.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .releaserc.json
  package-lock.json
  package.json
  projects/ngx-vflow-lib/package.json
Due: prettier --write

chore: remove eslint-plugin-html
  package-lock.json
  package.json
Due: prettier --write

chore: add new release rule
  .releaserc.json
Due: prettier --write

refactor: add return type for id generator
  projects/ngx-vflow-lib/src/lib/vflow/utils/id.ts
Due: eslint --fix, prettier --write

chore: rename token
  .github/workflows/publish.yml
Due: none

Notes added by 'git notes add'
  357c20be1bbf3974b734851a5be2e6a1ca57faf0
Due: none

chore: add registry-url
  .github/workflows/publish.yml
Due: none

chore: fix npm publishing and temporary remove github step
  .github/workflows/publish.yml
  .releaserc.json
Due: prettier --write

refactor: add return type
  projects/ngx-vflow-lib/src/lib/vflow/utils/add-nodes-to-edges.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  779ce10534cfde8e40dd25122b97bd1f56c7a4d8
Due: none

chore: reset version in lib source file
  projects/ngx-vflow-lib/package.json
Due: prettier --write

chore: add github release plugin
  .releaserc.json
Due: prettier --write

refactor: add return type
  projects/ngx-vflow-lib/src/lib/vflow/utils/reference-keeper.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a1f1948261c7f0f38db6c46c133a3477864bc833
Due: none

chore: remove comment
  .github/workflows/publish.yml
Due: none

fix: fix something potentially broken (test release notes generator)
  projects/ngx-vflow-lib/src/lib/vflow/utils/round.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  81a76bf4c0eaac595d2d1be4d87125394716b422
Due: none

fix: fix floating problem with manual edge creation
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/connection-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-status.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/vflow.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  103fe967cdce106ee45e922c5f86a2e265688a7e
Due: none

chore: rename gh workflows
  .github/workflows/e2e.yml
  .github/workflows/playwright.yml
  .github/workflows/release.yml
Due: none

chore: remove on push workflow run
  .github/workflows/release.yml
Due: none

chore: all lint workflow
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
Due: none

chore: run prettier
  README.md
  angular.json
Due: prettier --write

chore: add prettier check to lint workflow
  .github/workflows/lint.yml
Due: none

chore: add bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

chore: fix bug-report label
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

chore: add feature request template
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

chore: add deploy docs workflow
  .github/workflows/deploy-docs.yml
Due: none

chore: fix workflow
  .github/workflows/deploy-docs.yml
Due: none

Auto-generated commit
  404.html
  assets/ng-doc/indexes.json
  assets/ng-doc/keywords.json
  chunk-2FJH3Y7N.js
  chunk-3FAIFWIQ.js
  chunk-4RL7JYO4.js
  chunk-FSSAVSWE.js
  chunk-IA55KGAS.js
  chunk-J6DUFCVL.js
  chunk-K4BNT45G.js
  chunk-MTGRA56N.js
  chunk-NP5WPP5S.js
  chunk-OW3R7YGV.js
  chunk-QPZDF3WJ.js
  chunk-SQJF35WX.js
  chunk-TTIV4ANZ.js
  chunk-YVIDDLDY.js
  chunk-ZSJXBQFY.js
  index.html
  main-2BO3XI2N.js
Due: eslint --fix, prettier --write

chore: fix double doc build
  .github/workflows/deploy-docs.yml
Due: none

Auto-generated commit
  404.html
  assets/ng-doc/indexes.json
  chunk-3FAIFWIQ.js
  chunk-IX2ILHAP.js
  chunk-NSR55XW3.js
  chunk-SMXA6OQH.js
  chunk-TTIV4ANZ.js
  index.html
  main-CPMIR644.js
Due: eslint --fix, prettier --write

chore: remove old commands
  package.json
  projects/ngx-vflow-lib/package.json
Due: prettier --write

chore: add unit test workflow
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
Due: none

chore: fix unit test workflow
  .github/workflows/unit.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{html,js,ts}
  prettier --write: (any of: *.{html,js,ts}) or (any of: *.{css,scss,json,md})
