Repository artem-mangilev/ngx-vflow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{html,js,ts}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,json,md}": ["prettier --write"]
}

Notes added by 'git notes add'
  c30b76881e4d89f5ccc8c5b20fd79cfd4cf418fa
Due: none

feat: expose node drag events
  projects/ngx-vflow-lib/src/lib/vflow/components/alignment-helper/alignment-helper.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-drag-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-status.service.ts
  projects/ngx-vflow-lib/src/public-api.ts
Due: eslint --fix, prettier --write

refactor: remove additional inheritance layer for custom node
  projects/ngx-vflow-lib/src/lib/vflow/components/custom-node-base/custom-node-base.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-node/custom-node.component.ts
Due: eslint --fix, prettier --write

fix: fix expose everything from node-drag-controller
  projects/ngx-vflow-lib/src/public-api.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d65dad3e33ca3191f176aef31e62ba038c76400f
Due: none

fix: fix resizer in zoneless
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

refactor: remove internal size signal
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.html
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/toolbar.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/minimap/minimap.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.html
  projects/ngx-vflow-lib/src/lib/vflow/services/node-changes.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/nodes.ts
Due: eslint --fix, prettier --write

refactor: remove microtask decorator
  projects/ngx-vflow-lib/src/lib/vflow/decorators/microtask.decorator.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/handle.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/overlays.service.ts
Due: eslint --fix, prettier --write

refactor: run timer outside angular
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f2abe91b84f2490322037251bac12f2e147ecb2a
Due: none

more version bump (with pnpm i)
  pnpm-lock.yaml
  projects/ngx-vflow-lib/package.json
Due: prettier --write

rebuild package-lock
  package-lock.json
  projects/ngx-vflow-lib/package.json
Due: prettier --write

rebuild package-lock
  package-lock.json
Due: prettier --write

fix: improve performance for custom handles and edge label reflow
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/handle-size-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/element-cache.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/offset-batching-cache.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/is-unreachable.ts
Due: eslint --fix, prettier --write

version bump to 2.3.1-eta1
  projects/ngx-vflow-lib/package.json
Due: prettier --write

chore: rxjs 6 backwards compatibility
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-drag-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-node/custom-node.component.ts
Due: eslint --fix, prettier --write

chore: add rxjs >=6 to peer dependencies
  projects/ngx-vflow-lib/package.json
Due: prettier --write

chore: revert index.md newline
  projects/ngx-vflow-demo/src/app/categories/nodes/resizer/index.md
Due: prettier --write

fix: improve performance when adding nodes
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-entities.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/is-callable.ts
Due: eslint --fix, prettier --write

refactor: remove import everything from rxjs
  projects/ngx-vflow-lib/src/lib/vflow/utils/animation-frames.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  35fe0b2c8844c3f6db7bb40eeaada6c50794cb38
Due: none

fix: fix autoPan
  projects/ngx-vflow-lib/src/lib/vflow/directives/auto-pan.directive.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c56fb1d60edd7068b2b978649dfaccc93baf4a1f
Due: none

refactor: separate unique element cache into single unique services
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/handle-size-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/basic-element-cache.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/element-cache.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/html-element-cache.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/svg-graphic-element-cache.service.ts
Due: eslint --fix, prettier --write

chore: remove uneeded function
  projects/ngx-vflow-lib/src/lib/vflow/utils/is-unreachable.ts
Due: eslint --fix, prettier --write

chore: simplify svg Graphic cache entry
  projects/ngx-vflow-lib/src/lib/vflow/directives/handle-size-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/svg-graphic-element-cache.service.ts
Due: eslint --fix, prettier --write

feat: virtualization trigger only on zoom threshold hit
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  63a5824a09210cb8c457a2c37f2f33a182a91a09
Due: none

fix: create handle race condition duplication
  projects/ngx-vflow-lib/src/lib/vflow/services/handle.service.ts
Due: eslint --fix, prettier --write

feat: implement selection box MVP
  projects/ngx-vflow-lib/src/lib/vflow/components/selection-box/selection-box.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/selection-box/selection-box.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/selection-box/selection-box.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/map-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/selection-box.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/keyboard.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/selection-box.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/types/keyboard-action.type.ts
Due: eslint --fix, prettier --write

refactor: refactor from service to directive
  projects/ngx-vflow-lib/src/lib/vflow/components/selection-box/selection-box.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/selection-box.service.ts
Due: eslint --fix, prettier --write

refactor: use root pointer directive
  projects/ngx-vflow-lib/src/lib/vflow/directives/root-pointer.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.ts
Due: eslint --fix, prettier --write

feat: implement preselection
  projects/ngx-vflow-lib/src/lib/vflow/components/default-node/default-node.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/default-node/default-node.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/flow-entity.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/template-context.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-node/custom-node.component.ts
Due: eslint --fix, prettier --write

refactor: refactor rect math
  projects/ngx-vflow-lib/src/lib/vflow/components/alignment-helper/alignment-helper.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/box.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/rect.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/get-overlapping-area.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/get-space-points.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/nodes.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/rect.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/viewport.ts
Due: eslint --fix, prettier --write
