Repository artem-mangilev/ngx-vflow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add sponsor section
  projects/ngx-vflow-demo/src/app/app.component.html
  projects/ngx-vflow-demo/src/app/app.component.scss
  projects/ngx-vflow-demo/src/app/app.component.ts
  projects/ngx-vflow-demo/src/app/app.module.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/looking-for-sponsor/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/looking-for-sponsor/ng-doc.page.ts
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/roadmap/ng-doc.page.ts
Due: eslint --fix, prettier --write

feat!: migrate from foreignObject
  docs/native-html-rendering-plan.md
  projects/ngx-vflow-demo/src/app/categories/nodes/svg-nodes/demo/svg-nodes-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/nodes/svg-nodes/index.md
  projects/ngx-vflow-demo/src/app/categories/nodes/svg-nodes/ng-doc.page.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/constants/magic-number-to-fix-glitch-in-chrome.constant.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/flow-size-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/handle-size-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/map-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-resize-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/reference.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/root-pointer.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/root-svg-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/space-point-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/template.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/node.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/template-context.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/minimap/minimap.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/minimap/minimap.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/public-components/minimap/minimap.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/vflow.ts
Due: eslint --fix, prettier --write

fix: fix connections and alignment helper
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/demo/custom-handles-demo.component.html
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/demo/custom-handles-demo.styles.scss
  projects/ngx-vflow-demo/src/app/categories/nodes/resizer/demo/template-group-resizer-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/nodes/subflows/demo/subflows-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/minimap/demo/minimap-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/snap-to-grid/demo/subflows-demo.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.scss
Due: eslint --fix, prettier --write

feat: reimplement resizer
  projects/ngx-vflow-demo/src/app/categories/nodes/resizer/index.md
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.html
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-resize-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/bezier-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/node-resize-control.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizer-types.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizer-utils.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizer.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/allow-root-zoom-for-node-target.ts
  projects/ngx-vflow-lib/src/public-api.ts
  projects/ngx-vflow-lib/testing/src/all-mocks.spec.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/resizable-mock.component.ts
Due: eslint --fix, prettier --write

refactor: use CSS to compute handle position
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/handle-size-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/handle-mock.component.ts
Due: eslint --fix, prettier --write

fix: use correct handle position relative node
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
Due: eslint --fix, prettier --write

refactor: split updateHost method to 2
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-handles-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
Due: eslint --fix, prettier --write

chore: add tasks
  .scratch/native-html-rendering-audit/issues/01-eliminate-handle-layout-thrashing.md
  .scratch/native-html-rendering-audit/issues/02-cache-drag-pane-geometry.md
  .scratch/native-html-rendering-audit/issues/03-restore-custom-edge-pointer-interactions.md
  .scratch/native-html-rendering-audit/issues/04-restore-minimap-hover.md
  .scratch/native-html-rendering-audit/issues/05-harden-drag-filter-target.md
  .scratch/native-html-rendering-audit/issues/06-align-html-api-and-migration-docs.md
  .scratch/native-html-rendering-audit/issues/07-restore-resizer-gap.md
  .scratch/native-html-rendering-audit/issues/08-investigate-per-edge-svg-paint.md
  .scratch/native-html-rendering-audit/spec.md
  docs/adr/0001-native-html-node-rendering.md
Due: prettier --write

perf: eliminate handle layout thrashing
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-handles-controller.directive.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-handles-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/node-resize-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/request-animation-frame-batching.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/resize-observer.service.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/resize-observer.service.ts
Due: eslint --fix, prettier --write

perf: cache pane geometry during node drag
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
Due: eslint --fix, prettier --write

fix: restore custom edge pointer interactions
  e2e/custom-edge-interactions.spec.ts
  projects/ngx-vflow-demo/src/app/categories/edges/custom-edges/demo/custom-edges-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/edges/custom-edges/index.md
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-template-edge/custom-template-edge.component.scss
Due: eslint --fix, prettier --write

refactor: remove minimap hover scaling
  .scratch/native-html-rendering-audit/issues/04-restore-minimap-hover.md
  .scratch/native-html-rendering-audit/issues/06-align-html-api-and-migration-docs.md
  .scratch/native-html-rendering-audit/spec.md
  projects/ngx-vflow-demo/src/app/categories/viewport/pages/minimap/demo/minimap-demo.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/minimap/minimap.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/minimap/minimap.component.ts
  projects/ngx-vflow-lib/testing/src/all-mocks.spec.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/minimap-mock.component.ts
Due: eslint --fix, prettier --write

fix: guard drag filter event target
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
Due: eslint --fix, prettier --write

docs: align native HTML migration API
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/demo/custom-handles-demo.component.html
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/architecture/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/migration/index.md
  projects/ngx-vflow-demo/src/app/categories/nodes/custom-nodes/index.md
  projects/ngx-vflow-demo/src/app/categories/nodes/resizer/index.md
  projects/ngx-vflow-demo/src/app/categories/nodes/subflows/index.md
  projects/ngx-vflow-demo/src/app/categories/performance/pages/virtualization/index.md
  projects/ngx-vflow-demo/src/assets/sitemap.xml
  projects/ngx-vflow-lib/src/lib/vflow/directives/template.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/template-context.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/public-api.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/handle-mock.component.ts
  projects/ngx-vflow-lib/testing/src/directive-mocks/template-mock.directive.ts
Due: eslint --fix, prettier --write

fix: restore resizer gap input
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-node/custom-node.component.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
  projects/ngx-vflow-lib/testing/src/all-mocks.spec.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/resizable-mock.component.ts
Due: eslint --fix, prettier --write

chore: fix prettier
  .agents/skills/ask-matt/agents/openai.yaml
  .agents/skills/code-review/agents/openai.yaml
  .agents/skills/codebase-design/agents/openai.yaml
  .agents/skills/diagnosing-bugs/agents/openai.yaml
  .agents/skills/domain-modeling/agents/openai.yaml
  .agents/skills/grill-me/agents/openai.yaml
  .agents/skills/grill-with-docs/agents/openai.yaml
  .agents/skills/grilling/agents/openai.yaml
  .agents/skills/handoff/agents/openai.yaml
  .agents/skills/implement/agents/openai.yaml
  .agents/skills/improve-codebase-architecture/agents/openai.yaml
  .agents/skills/prototype/agents/openai.yaml
  .agents/skills/research/agents/openai.yaml
  .agents/skills/resolving-merge-conflicts/agents/openai.yaml
  .agents/skills/setup-matt-pocock-skills/agents/openai.yaml
  .agents/skills/tdd/agents/openai.yaml
  .agents/skills/teach/agents/openai.yaml
  .agents/skills/to-questionnaire/agents/openai.yaml
  .agents/skills/to-spec/agents/openai.yaml
  .agents/skills/to-tickets/agents/openai.yaml
  .agents/skills/triage/agents/openai.yaml
  .agents/skills/wait-what/agents/openai.yaml
  .agents/skills/wayfinder/agents/openai.yaml
  .agents/skills/wizard/agents/openai.yaml
  .agents/skills/writing-for-agents/agents/openai.yaml
Due: none

chore: add tasks
  .scratch/core-platform-parity/issues/01-implement-entity-capability-policies.md
  .scratch/core-platform-parity/issues/02-publish-graph-topology-utilities.md
  .scratch/core-platform-parity/issues/03-publish-graph-change-utilities.md
  .scratch/core-platform-parity/issues/04-publish-geometry-utilities.md
  .scratch/core-platform-parity/issues/05-expose-public-flow-facade.md
  .scratch/core-platform-parity/issues/06-add-deletion-request-lifecycle.md
  .scratch/core-platform-parity/issues/07-configure-viewport-gestures.md
  .scratch/core-platform-parity/issues/08-add-viewport-and-node-constraints.md
  .scratch/core-platform-parity/issues/09-establish-accessibility-semantics.md
  .scratch/core-platform-parity/issues/10-implement-keyboard-navigation.md
  .scratch/core-platform-parity/issues/11-implement-keyboard-editing-and-announcements.md
  .scratch/core-platform-parity/issues/12-make-minimap-navigable.md
  .scratch/core-platform-parity/issues/13-add-minimap-presentation-hooks.md
  .scratch/core-platform-parity/spec.md
  CONTEXT.md
  docs/adr/0002-application-owned-graph-state.md
Due: prettier --write

chore: update docs
  .scratch/core-platform-parity/issues/01-implement-entity-capability-policies.md
  .scratch/core-platform-parity/issues/02-publish-graph-topology-utilities.md
  .scratch/core-platform-parity/issues/05-expose-public-flow-facade.md
  .scratch/core-platform-parity/issues/09-establish-accessibility-semantics.md
  .scratch/core-platform-parity/issues/10-implement-keyboard-navigation.md
  .scratch/core-platform-parity/issues/13-add-minimap-presentation-hooks.md
Due: prettier --write

feat: add entity capability policies
  CONTEXT.md
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/demo/custom-handles-demo.component.html
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/demo/custom-handles-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/demo/custom-handles-demo.styles.scss
  projects/ngx-vflow-demo/src/app/categories/handles/pages/custom-handles/index.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/selecting/index.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/selection-box/index.md
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/connection-controller.directive.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/connection-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selectable.directive.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selectable.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/flow-entity.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/node.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/template-context.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/handle.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/handle.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/selection.service.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/strategies/default-selection.strategy.ts
  projects/ngx-vflow-lib/testing/src/all-mocks.spec.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/handle-mock.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
Due: eslint --fix, prettier --write

fix: remove deletable option
  .scratch/core-platform-parity/issues/01-implement-entity-capability-policies.md
  .scratch/core-platform-parity/issues/06-add-deletion-request-lifecycle.md
  .scratch/core-platform-parity/react-flow-foblex-flow-deletion-research.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/selecting/index.md
  projects/ngx-vflow-lib/src/lib/vflow/directives/selectable.directive.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/flow-entity.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/node.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
Due: eslint --fix, prettier --write

feat: implement graph utilities
  .scratch/core-platform-parity/issues/02-publish-graph-topology-utilities.md
  .scratch/core-platform-parity/issues/04-publish-geometry-utilities.md
  .scratch/core-platform-parity/issues/08-add-viewport-and-node-constraints.md
  projects/ngx-vflow-demo/src/app/categories/utilities/graph-utilities/index.md
  projects/ngx-vflow-demo/src/app/categories/utilities/graph-utilities/ng-doc.page.ts
  projects/ngx-vflow-demo/src/app/categories/utilities/ng-doc.category.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/graph.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/graph.ts
  projects/ngx-vflow-lib/src/public-api.ts
Due: eslint --fix, prettier --write

feat: add graph operations
  .scratch/core-platform-parity/issues/03-publish-graph-change-utilities.md
  CONTEXT.md
  docs/adr/0003-allow-any-node-to-be-a-parent.md
  projects/ngx-vflow-demo/src/app/categories/cookbook/delete-selected/demo/delete-selected-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/cookbook/delete-selected/index.md
  projects/ngx-vflow-demo/src/app/categories/cookbook/drag-and-drop-nodes/demo/drag-and-drop-nodes-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/edges/connections/demo/connection-validation-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/edges/connections/demo/default-connection-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/edges/connections/demo/loose-connection-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/edges/connections/demo/reconnection-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/edges/connections/index.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/handling-changes/index.md
  projects/ngx-vflow-demo/src/app/categories/nodes/subflows/index.md
  projects/ngx-vflow-demo/src/app/categories/utilities/graph-operations/index.md
  projects/ngx-vflow-demo/src/app/categories/utilities/graph-operations/ng-doc.page.ts
  projects/ngx-vflow-lib/src/lib/vflow/types/edge-change.type.ts
  projects/ngx-vflow-lib/src/lib/vflow/types/node-change.type.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/graph-operations.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/graph-operations.ts
  projects/ngx-vflow-lib/src/public-api.ts
Due: eslint --fix, prettier --write

feat: add new geometry utils
  .scratch/core-platform-parity/issues/04-publish-geometry-utilities.md
  .scratch/core-platform-parity/research/coordinate-spaces-and-parenting-apis.md
  CONTEXT.md
  projects/ngx-vflow-demo/src/app/categories/cookbook/drag-and-drop-nodes/demo/drag-and-drop-nodes-demo.component.spec.ts
  projects/ngx-vflow-demo/src/app/categories/cookbook/drag-and-drop-nodes/demo/drag-and-drop-nodes-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/cookbook/drag-and-drop-nodes/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/migration/index.md
  projects/ngx-vflow-demo/src/app/categories/utilities/geometry-utilities/index.md
  projects/ngx-vflow-demo/src/app/categories/utilities/geometry-utilities/ng-doc.page.ts
  projects/ngx-vflow-demo/src/assets/sitemap.xml
  projects/ngx-vflow-lib/src/lib/vflow/components/connection/connection.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selection-box-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/space-point-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/curve-factory.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/point.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/bezier-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/edge-path.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/smooth-step-path.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/smooth-step-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/straigh-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/minimap/minimap.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizer.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/viewport.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/coordinates.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/coordinates.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/get-space-points.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/graph.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/node-position.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/nodes.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/nodes.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/viewport.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/viewport.ts
  projects/ngx-vflow-lib/src/public-api.ts
  projects/ngx-vflow-lib/testing/src/all-mocks.spec.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
  projects/ngx-vflow-lib/testing/src/provide-custom-node-mocks.ts
Due: eslint --fix, prettier --write

feat: create getNodePositionInSpace util
  .scratch/core-platform-parity/issues/04-publish-geometry-utilities.md
  projects/ngx-vflow-demo/src/app/categories/cookbook/drag-and-drop-nodes/demo/drag-and-drop-nodes-demo.component.spec.ts
  projects/ngx-vflow-demo/src/app/categories/cookbook/drag-and-drop-nodes/demo/drag-and-drop-nodes-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/cookbook/drag-and-drop-nodes/index.md
  projects/ngx-vflow-demo/src/app/categories/introduction/pages/migration/index.md
  projects/ngx-vflow-demo/src/app/categories/utilities/geometry-utilities/index.md
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/coordinates.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/coordinates.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/graph.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/node-position.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/nodes.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/nodes.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
Due: eslint --fix, prettier --write

chore: update tickets
  .scratch/core-platform-parity/issues/01-implement-entity-capability-policies.md
  .scratch/core-platform-parity/issues/03-publish-graph-change-utilities.md
  .scratch/core-platform-parity/issues/06-add-deletion-request-lifecycle.md
  .scratch/core-platform-parity/issues/11-implement-keyboard-editing-and-announcements.md
  .scratch/core-platform-parity/react-flow-foblex-flow-deletion-research.md
  .scratch/core-platform-parity/spec.md
Due: prettier --write

feat: unlock angular version
  projects/ngx-vflow-lib/package.json
Due: prettier --write

Notes added by 'git notes add'
  323e8ef437e405c5d0bd342c7fb84b4af46b4911
Due: none

feat: add new viewport settings
  .scratch/core-platform-parity/issues/07-configure-viewport-gestures.md
  CONTEXT.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/keyboard-shortcuts/index.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/viewport-gestures/index.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/viewport-gestures/ng-doc.page.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/viewport-gestures.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/connection-controller.directive.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/connection-controller.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/gesture-exclusions.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/map-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/root-pointer.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/node-resize-control.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/keyboard.service.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/keyboard.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/selection.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/strategies/default-selection.strategy.ts
  projects/ngx-vflow-lib/src/lib/vflow/types/keyboard-action.type.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/allow-root-zoom-for-node-target.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/event.ts
  projects/ngx-vflow-lib/src/lib/vflow/vflow.ts
  projects/ngx-vflow-lib/src/public-api.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
Due: eslint --fix, prettier --write

feat: configure auto-pan by drag operation
  .scratch/core-platform-parity/issues/08-add-viewport-and-node-constraints.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/viewport-gestures/index.md
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/auto-pan.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/auto-pan.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/auto-pan-settings.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
  projects/ngx-vflow-lib/src/public-api.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
Due: eslint --fix, prettier --write

fix: apply immediate viewport changes without queued transitions
  .scratch/core-platform-parity/issues/08-add-viewport-and-node-constraints.md
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/auto-pan.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/map-context.directive.ts
Due: eslint --fix, prettier --write

feat: establish graph accessibility semantics
  .scratch/core-platform-parity/issues/09-establish-accessibility-semantics.md
  .scratch/core-platform-parity/issues/14-implement-accessible-resize-and-reconnect.md
  .scratch/core-platform-parity/spec.md
  docs/accessibility-verification.md
  docs/adr/0004-library-owned-accessibility-wrappers.md
  e2e/accessibility.spec.ts
  package-lock.json
  package.json
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/demo/accessibility-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/index.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/ng-doc.page.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/connection/connection.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/accessibility.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/entity-accessibility.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/aria-label-config.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/dom-attributes.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/node.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-template-edge/custom-template-edge.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.html
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
  projects/ngx-vflow-lib/src/public-api.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/handle-mock.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
Due: eslint --fix, prettier --write

docs: record VoiceOver retest findings
  .scratch/core-platform-parity/issues/09-establish-accessibility-semantics.md
  docs/accessibility-verification.md
Due: prettier --write

docs: close accessibility semantics issue for MVP
  .scratch/core-platform-parity/issues/09-establish-accessibility-semantics.md
  docs/accessibility-verification.md
Due: prettier --write

feat: implement keyboard graph navigation
  .scratch/core-platform-parity/issues/10-implement-keyboard-navigation.md
  .scratch/core-platform-parity/react-flow-focus-auto-pan.md
  docs/accessibility-verification.md
  e2e/accessibility.spec.ts
  e2e/keyboard-navigation.spec.ts
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/demo/accessibility-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/demo/keyboard-navigation-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/index.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/ng-doc.page.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/accessibility.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/keyboard-navigation.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/entity-accessibility.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/gesture-exclusions.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/keyboard-navigation.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/aria-label-config.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/keyboard.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/selection.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/vflow.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
Due: eslint --fix, prettier --write

chore: update docs
  .scratch/core-platform-parity/issues/11-implement-keyboard-editing-and-announcements.md
  .scratch/core-platform-parity/keyboard-connection-patterns.md
  .scratch/core-platform-parity/react-flow-keyboard-editing-and-announcements.md
  docs/accessibility-verification.md
  projects/ngx-vflow-demo/src/app/categories/interactions/pages/accessibility/index.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{html,js,ts}
  prettier --write: (any of: *.{html,js,ts}) or (any of: *.{css,scss,json,md})
