Repository artem-mangilev/ngx-vflow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  d27bc2447f80a32db1822579fe2839d5238c32c5
Due: none

fix: import component types in mocks
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/custom-template-edge-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/handle-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/minimap-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/node-toolbar-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/resizable-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/vflow-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/connection-controller-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/drag-handle-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/selectable-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/template-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/vflow-mocks.ts
Due: eslint --fix, prettier --write

feat: move testing utils to secondary entypoint
  projects/ngx-vflow-demo/tsconfig.hybrid.json
  projects/ngx-vflow-lib/src/public-api.ts
  projects/ngx-vflow-lib/testing/ng-package.json
  projects/ngx-vflow-lib/testing/src/all-mocks.spec.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/custom-template-edge-mock.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/handle-mock.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/minimap-mock.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/node-toolbar-mock.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/resizable-mock.component.ts
  projects/ngx-vflow-lib/testing/src/component-mocks/vflow-mock.component.ts
  projects/ngx-vflow-lib/testing/src/directive-mocks/connection-controller-mock.directive.ts
  projects/ngx-vflow-lib/testing/src/directive-mocks/drag-handle-mock.directive.ts
  projects/ngx-vflow-lib/testing/src/directive-mocks/selectable-mock.directive.ts
  projects/ngx-vflow-lib/testing/src/directive-mocks/template-mock.directive.ts
  projects/ngx-vflow-lib/testing/src/provide-custom-node-mocks.ts
  projects/ngx-vflow-lib/testing/src/public-api.ts
  projects/ngx-vflow-lib/testing/src/types.ts
  projects/ngx-vflow-lib/testing/src/vflow-mocks.ts
  tsconfig.json
Due: eslint --fix, prettier --write

docs: add alert about testing import changes
  projects/ngx-vflow-demo/src/app/categories/testing/pages/component-mocks/index.md
Due: prettier --write

test: fix tests
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-dynamic-node/custom-dynamic-node.component.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/custom-node/custom-node.component.spec.ts
Due: eslint --fix, prettier --write

chore: add support for Angular 20
  projects/ngx-vflow-lib/package.json
Due: prettier --write

Notes added by 'git notes add'
  bcbe3a26fcc2f6943375cc2b86c916da415efed7
Due: none

Auto-generated commit
  404.html
  assets/ng-doc/indexes.json
  assets/ng-doc/keywords.json
  chunk-2JR357UD.js
  chunk-2LHH36SJ.js
  chunk-2MSUKYSU.js
  chunk-54S7L4O7.js
  chunk-5RSCT5OU.js
  chunk-7P6HR5TA.js
  chunk-AJOBORJW.js
  chunk-AV3FNXSS.js
  chunk-CZPQ3JBU.js
  chunk-DD5A3DVL.js
  chunk-EIKNJJ36.js
  chunk-GHIX75T6.js
  chunk-IQSDVHUD.js
  chunk-JODUU532.js
  chunk-LDNGGION.js
  chunk-LFKGAFJ5.js
  chunk-MHDRHHI6.js
  chunk-MUGEEDFE.js
  chunk-NUVTSE3U.js
  chunk-OFTJUJO4.js
  chunk-PGSOX6CX.js
  chunk-PWFF6XUK.js
  chunk-QA522QXA.js
  chunk-QKL5LNFT.js
  chunk-QOXUNX7V.js
  chunk-T6MDRNSX.js
  chunk-UFLDYSRP.js
  chunk-UGU5AJCZ.js
  chunk-URFWXIUG.js
  chunk-V5MTGBBJ.js
  chunk-VNQQZEUW.js
  chunk-VPDZ2RV2.js
  chunk-VSVIZSKV.js
  chunk-X3F4CHHI.js
  index.html
  main-WZ475JXO.js
Due: eslint --fix, prettier --write

refactor: remove using-points type
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/bezier-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/straigh-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/types/using-points.type.ts
Due: eslint --fix, prettier --write

feat: add CurveFactory support
  projects/ngx-vflow-lib/src/lib/vflow/components/connection/connection.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.html
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/curve-factory.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/path-data.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/bezier-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/smooth-step-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/math/edge-path/straigh-path.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-entities.service.ts
  projects/ngx-vflow-lib/src/public-api.ts
Due: eslint --fix, prettier --write

refactor: change isConnection -> mode
  projects/ngx-vflow-lib/src/lib/vflow/components/connection/connection.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/curve-factory.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
Due: eslint --fix, prettier --write

docs: create section about curve factory
  projects/ngx-vflow-demo/src/app/categories/features/categories/edges/curves/demo/curve-factory-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/features/categories/edges/curves/index.md
  projects/ngx-vflow-demo/src/app/categories/features/categories/edges/curves/ng-doc.page.ts
Due: eslint --fix, prettier --write

refactor: export all curve factory params
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/curve-factory.interface.ts
Due: eslint --fix, prettier --write

docs: add comments for factory
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/curve-factory.interface.ts
Due: eslint --fix, prettier --write

fix: fix nodes/edges flickering on large lists
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/edge-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/entities-per-frame.ts
Due: eslint --fix, prettier --write

docs: add stress test demo
  projects/ngx-vflow-demo/src/app/categories/workshops/pages/stress-test/demo/stress-test-demo.component.html
  projects/ngx-vflow-demo/src/app/categories/workshops/pages/stress-test/demo/stress-test-demo.component.scss
  projects/ngx-vflow-demo/src/app/categories/workshops/pages/stress-test/demo/stress-test-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/workshops/pages/stress-test/index.md
  projects/ngx-vflow-demo/src/app/categories/workshops/pages/stress-test/ng-doc.page.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  700eae1ba33f47fd55749db5eba226ac2487e775
Due: none

docs: decrease number in stress test
  projects/ngx-vflow-demo/src/app/categories/workshops/pages/stress-test/demo/stress-test-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/workshops/pages/stress-test/index.md
Due: eslint --fix, prettier --write

Auto-generated commit
  404.html
  assets/ng-doc/indexes.json
  chunk-47AAFKAF.js
  chunk-4FRDN7NE.js
  chunk-5UMXXKE7.js
  chunk-AUZPRK5U.js
  chunk-BRFTPVEV.js
  chunk-CKVF3VQI.js
  chunk-DFGGQK5F.js
  chunk-F7JGVXZT.js
  chunk-GGSEO4VJ.js
  chunk-H2KDB2HL.js
  chunk-ICZCZJGL.js
  chunk-JGEWQOE4.js
  chunk-MMMLDP5M.js
  chunk-OWIFFWI4.js
  chunk-PGSOX6CX.js
  chunk-PWFF6XUK.js
  chunk-UOZTR6PV.js
  chunk-XITUVXAA.js
  index.html
  main-SXZF2ZMJ.js
Due: eslint --fix, prettier --write

fix: fix skipping mouse events from custom nodes due to DOM order changes
  projects/ngx-vflow-lib/src/lib/vflow/components/edge/edge.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/lazy-for.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/selectable.directive.ts
Due: eslint --fix, prettier --write

docs: use previous vizdom demo settings
  projects/ngx-vflow-demo/src/app/categories/workshops/categories/layout/pages/vizdom-layout/demo/vizdom-layout-demo.component.html
Due: eslint --fix, prettier --write

refactor: remove things relative to lazyfor
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/edge-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/entities-per-frame.ts
Due: eslint --fix, prettier --write

fix: fix elevating nodes in detachedGroupsLayer mode
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c3c475a79883684f27d30ec8319a33b57d6c08a0
Due: none

feat: resizable component now checks max-width and max-height
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d2ccb218291f4ad1812ac8b1acc78c40d6fb78da
Due: none

chore: update discord link
  README.md
Due: prettier --write

feat: implement nodes/edges virtialization
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/edge.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/edge-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/signals/extended-computed.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/viewport.ts
Due: eslint --fix, prettier --write

feat: add viewportVirtualization optimization flag
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/optimization.interface.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/edge-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
Due: eslint --fix, prettier --write

refactor: remove padding from isLineInViewport
  projects/ngx-vflow-lib/src/lib/vflow/services/edge-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/viewport.ts
Due: eslint --fix, prettier --write

fix: fixed getintersectingNodes not using global coordinates
  projects/ngx-vflow-lib/src/lib/vflow/utils/nodes.ts
Due: eslint --fix, prettier --write

refactor: implement render-zone service
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/render-zone.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6a4cc191b251505c37b97ce750816d67a44dcddb
Due: none

feat: implement preview-flow
  projects/ngx-vflow-lib/src/lib/vflow/components/preview-flow/preview-flow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.scss
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
Due: eslint --fix, prettier --write

feat: draw preview nodes if real nodes is invisible
  projects/ngx-vflow-lib/src/lib/vflow/components/preview-flow/preview-flow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/directives/map-context.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/models/node.model.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/preview-flow-render-strategy.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/viewport.service.ts
Due: eslint --fix, prettier --write

refactor: remove render-zone service
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/edge-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/render-zone.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{html,js,ts}
  prettier --write: (any of: *.{html,js,ts}) or (any of: *.{css,scss,json,md})
