Repository artem-mangilev/ngx-vflow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{html,js,ts}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,json,md}": ["prettier --write"]
}

docs: create new feature overview
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/all-features-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/complex-custom-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/only-input-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/resizable-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/size-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/toolbar-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/services/flow-store.service.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/index.md
Due: eslint --fix, prettier --write

docs: add position node
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/position-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/services/flow-store.service.ts
Due: eslint --fix, prettier --write

docs: add edge labels to delete edges
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/all-features-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/position-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/size-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/services/flow-store.service.ts
Due: eslint --fix, prettier --write

docs: some ui fixes
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/all-features-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/position-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/size-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/services/flow-store.service.ts
Due: eslint --fix, prettier --write

docs: change emojis and add minimap
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/all-features-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/toolbar-node.component.ts
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/services/flow-store.service.ts
Due: eslint --fix, prettier --write

docs: add code files of demo
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/index.md
Due: prettier --write

feat: add snapGrid setting to vflow component
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
Due: eslint --fix, prettier --write

chore: add todos
  projects/ngx-vflow-lib/src/lib/vflow/services/draggable.service.ts
Due: eslint --fix, prettier --write

feat: add 'default' type for label
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.html
  projects/ngx-vflow-lib/src/lib/vflow/components/edge-label/edge-label.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge-label.interface.ts
Due: eslint --fix, prettier --write

refactor: rename internal interface
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge-label.interface.ts
Due: eslint --fix, prettier --write

docs: add default edge label to demo flow
  projects/ngx-vflow-demo/src/app/categories/features/pages/labels/demo/labels-demo.component.ts
Due: eslint --fix, prettier --write

docs: add description of the new default edge label
  projects/ngx-vflow-demo/src/app/categories/features/pages/labels/index.md
Due: prettier --write

chore: export new edge label interfaces and deprecate old type
  projects/ngx-vflow-lib/src/lib/vflow/interfaces/edge-label.interface.ts
Due: eslint --fix, prettier --write

docs: add snap to grid feature page
  projects/ngx-vflow-demo/src/app/categories/features/pages/snap-to-grid/demo/subflows-demo.component.ts
  projects/ngx-vflow-demo/src/app/categories/features/pages/snap-to-grid/index.md
  projects/ngx-vflow-demo/src/app/categories/features/pages/snap-to-grid/ng-doc.page.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0fbe30d7468e6d46734c5a9717e9ce1b4fb168f5
Due: none

feat: add context menu listener for connection reset
  projects/ngx-vflow-lib/src/lib/vflow/directives/root-svg-context.directive.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6d4eef50ad3a6c42f0f3d34cd14aa568b4a0b748
Due: none

fix: fix 'TouchEvent is not defined' in firefox
  projects/ngx-vflow-lib/src/lib/vflow/directives/pointer.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/utils/event.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  40447e836316a7ecbfffac9a1355b70da44874a3
Due: none

fix: implement better constrained resizing
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

chore(deps): update vizdom dependency
  package-lock.json
  package.json
  projects/ngx-vflow-demo/src/app/categories/workshops/categories/layout/pages/vizdom-layout/demo/vizdom-layout-demo.component.ts
Due: eslint --fix, prettier --write

docs: update vizdom example with using the DynamicNode
  projects/ngx-vflow-demo/src/app/categories/workshops/categories/layout/pages/vizdom-layout/demo/vizdom-layout-demo.component.html
  projects/ngx-vflow-demo/src/app/categories/workshops/categories/layout/pages/vizdom-layout/demo/vizdom-layout-demo.component.ts
Due: eslint --fix, prettier --write

feat: add elevateNodesOnSelect for vflow component
  projects/ngx-vflow-lib/src/lib/vflow/components/node/node.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/components/vflow/vflow.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/services/flow-settings.service.ts
Due: eslint --fix, prettier --write

docs: use elevateNodesOnSelect in vizdom example
  projects/ngx-vflow-demo/src/app/categories/workshops/categories/layout/pages/vizdom-layout/demo/vizdom-layout-demo.component.html
Due: eslint --fix, prettier --write

refactor: add check if node is already has hightst z-index
  projects/ngx-vflow-lib/src/lib/vflow/services/node-rendering.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1cafa06e6f02b895399bacf76ad25db44c6a2375
Due: none

fix: use distanceToEdge in resizing process to snap the cursor
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

fix: do not block resize when x or y is 0 inside parent
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

refactor: refactor to new model width and height fields
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

fix: use correct variable for size computation inside parent
  projects/ngx-vflow-lib/src/lib/vflow/public-components/resizable/resizable.component.ts
Due: eslint --fix, prettier --write

docs: fix displaying resizable node in Safari
  projects/ngx-vflow-demo/src/app/categories/getting-started/pages/what-is-ngx-vflow/demo/components/resizable-node.component.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f12e19c0b1d99e37ad16630b3150cfb9a6a3c199
Due: none

fix: fix test mocks
  projects/ngx-vflow-lib/src/lib/vflow/public-components/handle/handle.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/public-components/node-toolbar/node-toolbar.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/all-mocks.spec.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/handle-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/minimap-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/node-toolbar-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/resizable-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/component-mocks/vflow-mock.component.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/connection-controller-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/drag-handle-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/selectable-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/directive-mocks/template-mock.directive.ts
  projects/ngx-vflow-lib/src/lib/vflow/testing-utils/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7815a55a0eb3c92b24a0d078ad9d4591a2c53859
Due: none
